<nav class="navbar fixed-top navbar-dark bg-dark">
  <span class="navbar-brand" href="#">
    <i class="fa fa-home"></i>
  </span>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2>What I do</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="card text-center bg-light mb-3">
        <img style="height:250px;" class="card-img"
          [src]="'assets/toptal-blog-image-1518187252525-03f6db7b1c131066061024c236c7e3ff.png'" alt="Card image">

        <div class="card-header">
          Single Page Application
        </div>
        <div class="card-body">
          <p class="card-text">JavaScript</p>
          <p class="card-text">
            <i class="fa fa-chevron-down"></i>
          </p>
          <p class="card-text">Angular 5+ / Typescript </p>
        </div>
        <div class="card-footer text-muted">
          <a href="https://angular.io/" target="_blank" class="btn btn-primary btn-block">Go</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="card text-center bg-light mb-3">
        <img style="height:250px;" class="card-img" [src]="'assets/maxresdefault.jpg'" alt="Card image">
        <div class="card-header">
          Hybrid App Development
        </div>
        <div class="card-body">
          <p class="card-text">cordova</p>
          <p class="card-text">
            <i class="fa fa-chevron-down"></i>
          </p>
          <p class="card-text">android / iOS</p>
        </div>
        <div class="card-footer text-muted">
          <a href="https://cordova.apache.org/" target="_blank" class="btn btn-primary btn-block">Go</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-12 text-center">
      <h2>Cordova Plugins</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card text-center mb-3">
        <div class="card-header">
          cordova-plugin-ckopenimage
        </div>
        <div class="card-body">
          <p class="card-text">plugin is intended to show a picture from an URL into a Photo Viewer with zoom
            features.</p>

          <div style="width:100%;height:300px">
            <ngx-charts-bar-vertical
              [scheme]="colorSchemeBar"
              [results]="plugins['cordova-plugin-ckopenimage'].series"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [tooltipDisabled]="tooltipDisabled"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical>
          </div>

        </div>
        <div class="card-footer text-muted">
          <a href="https://github.com/WuglyakBolgoink/CkOpenImage" class="btn btn-primary btn-block">
            Go
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-center mb-3">
        <div class="card-header">
          cordova-plugin-iroot
        </div>
        <div class="card-body">
          <p class="card-text">Cordova Jailbreak/Root Detection Plugin for Apache Cordova</p>
          <br>
          <div style="width:100%;height:300px">
            <ngx-charts-bar-vertical
              [scheme]="colorSchemeBar"
              [results]="plugins['cordova-plugin-iroot'].series"
              [gradient]="gradient"
              [tooltipDisabled]="tooltipDisabled"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical>
          </div>
        </div>
        <div class="card-footer text-muted">
          <a href="https://github.com/WuglyakBolgoink/cordova-plugin-iroot" class="btn btn-primary btn-block">
            Go
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-12 text-center">
      <h2>My Skills</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 bg-dark">
      <div style="height:800px;width:100%;padding:10px;">
        <ngx-graph
          #graph
          class="chart-container"
          [view]="view"
          [autoZoom]="autoZoom"
          [zoomLevel]="zoomLevel"
          [legend]="showLegend"
          [links]="hierarchialGraph.links"
          (legendLabelClick)="onLegendLabelClick($event)"
          [nodes]="hierarchialGraph.nodes"
          [scheme]="colorSchemeGraph"
          [orientation]="orientation"
          [curve]="curve"
          (select)="select($event)">

          <ng-template #defsTemplate>
            <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4"
              orient="auto">
              <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
            </svg:marker>
          </ng-template>

          <ng-template #nodeTemplate let-node>
            <svg:g class="node"
              ngx-tooltip
              [tooltipPlacement]="'top'"
              [tooltipType]="'tooltip'"
              [tooltipTitle]="node.label">
              <svg:rect [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.color || node.options.color" />
              <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 2">{{node.label}}</svg:text>
            </svg:g>
          </ng-template>

          <ng-template #linkTemplate let-link>
            <svg:g class="edge">
              <svg:path
                class="line"
                stroke-width="2"
                marker-end="url(#arrow)">
              </svg:path>
              <svg:text class="edge-label" text-anchor="middle">
                <textPath
                  class="text-path"
                  [attr.href]="'#' + link.id"
                  [style.dominant-baseline]="link.dominantBaseline"
                  startOffset="50%">
                  {{link.label}}
                </textPath>
              </svg:text>
            </svg:g>
          </ng-template>

        </ngx-graph>

      </div>

    </div>
  </div>
</div>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="text-light bg-dark mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-4 col-xl-3">
        <h5>About me</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <p class="mb-3">
          Full Stack Web- & Mobile-Developer
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
        <!--<h5>Informations</h5>-->
        <!--<hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">-->
        <!--<ul class="list-unstyled">-->
        <!--<li><a href="">Link 1</a></li>-->
        <!--<li><a href="">Link 2</a></li>-->
        <!--<li><a href="">Link 3</a></li>-->
        <!--<li><a href="">Link 4</a></li>-->
        <!--</ul>-->
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
        <!--<h5>Others links</h5>-->
        <!--<hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">-->
        <!--<ul class="list-unstyled">-->
        <!--<li><a href="">Link 1</a></li>-->
        <!--<li><a href="">Link 2</a></li>-->
        <!--<li><a href="">Link 3</a></li>-->
        <!--<li><a href="">Link 4</a></li>-->
        <!--</ul>-->
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3">
        <h5>Contact</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><i class="fa fa-home mr-2"></i>www.cyberkatze.de</li>
          <li>
            <a href="mailto:info@cyberkatze.de">
              <i class="fa fa-envelope mr-2"></i>info@cyberkatze.de
            </a>
          </li>
          <li>
            <a href="https://github.com/WuglyakBolgoink">
              <i class="fa fa-github mr-2"></i>@WuglyakBolgoink
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 copyright mt-3">
        <p class="float-left">
          <a href="#">
            <i class="fa fa-chevron-up"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
