<!-- Footer -->
<footer class="text-light bg-dark mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-4 col-xl-3">
        <h5>About me</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <p class="mb-3">
          Full Stack Web- & Mobile-Developer
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
        <!--<h5>Informations</h5>-->
        <!--<hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">-->
        <!--<ul class="list-unstyled">-->
        <!--<li><a href="">Link 1</a></li>-->
        <!--<li><a href="">Link 2</a></li>-->
        <!--<li><a href="">Link 3</a></li>-->
        <!--<li><a href="">Link 4</a></li>-->
        <!--</ul>-->
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
        <!--<h5>Others links</h5>-->
        <!--<hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">-->
        <!--<ul class="list-unstyled">-->
        <!--<li><a href="">Link 1</a></li>-->
        <!--<li><a href="">Link 2</a></li>-->
        <!--<li><a href="">Link 3</a></li>-->
        <!--<li><a href="">Link 4</a></li>-->
        <!--</ul>-->
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3">
        <h5>Contact</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><i class="fa fa-home mr-2"></i>www.cyberkatze.de</li>
          <li>
            <a href="mailto:info@cyberkatze.de">
              <i class="fa fa-envelope mr-2"></i>info@cyberkatze.de
            </a>
          </li>
          <li>
            <a href="https://github.com/WuglyakBolgoink">
              <i class="fa fa-github mr-2"></i>@WuglyakBolgoink
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 copyright mt-3">
        <p class="float-left">
          <a href="#">
            <i class="fa fa-chevron-up"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
